<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <!-- 文件输出格式 : %d:表示日期 %thread:表示线程名 %-5level:级别从左显示5个字符宽度 %msg:日志消息 %n:是换行符 %L:日志输出行 -->
    <property name="PATTERN"
              value="%-12(%red(%d{yyyy-MM-dd HH:mm:ss.SSS})) |-%highlight(%-5level) %green([%thread]) %boldMagenta(%c) %black([%L]) -| %cyan(%msg%n)"/>
    <!-- 测试环境 test文件路径 -->
    <property name="TEST_FILE_PATH" value="/Users/chenshun131/Desktop/AllMyFile/Datas/Logs/springboot/service.log"/>
    <!-- 生产环境 pro文件路径 -->
    <property name="PRO_FILE_PATH" value="/opt/roncoo/logs"/>

    <contextName>${APP_Name}</contextName>

    <!-- 开发环境 -->
    <springProfile name="dev">
        <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>${PATTERN}</pattern>
                <charset>UTF-8</charset>
            </encoder>
        </appender>
        <logger name="com.chenshun.eshopcacheha" level="debug"/>

        <!--<logger name="org.springframework.jdbc.core.JdbcTemplate" level="debug"/>-->
        <!-- log4jdbc -->
        <!--<logger name="jdbc.sqltiming" level="INFO"/>-->
        <!-- jdbc，使得控制台可以打印 SQL 执行语句 -->
        <!--<logger name="java.sql.Connection" level="debug"/>-->
        <!--<logger name="java.sql.Statement" level="debug"/>-->
        <!--<logger name="java.sql.PreparedStatement" level="debug"/>-->
        <!--<logger name="java.sql.ResultSet" level="debug"/>-->

        <root level="info">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>

    <!-- 测试环境 -->
    <springProfile name="test">
        <!-- 每天产生一个文件 -->
        <appender name="TEST-FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <!-- 文件路径 -->
            <file>${TEST_FILE_PATH}</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <!-- 文件名称 -->
                <fileNamePattern>${TEST_FILE_PATH}/info.%d{yyyy-MM-dd}.log</fileNamePattern>
                <!-- 文件最大保存历史数量 -->
                <MaxHistory>100</MaxHistory>
            </rollingPolicy>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>${PATTERN}</pattern>
                <charset>UTF-8</charset>
            </layout>
        </appender>
        <root level="info">
            <appender-ref ref="TEST-FILE"/>
        </root>
    </springProfile>

    <!-- 生产环境 -->
    <springProfile name="prod">
        <appender name="PROD_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${PRO_FILE_PATH}</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${PRO_FILE_PATH}/warn.%d{yyyy-MM-dd}.log</fileNamePattern>
                <MaxHistory>100</MaxHistory>
            </rollingPolicy>
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>${PATTERN}</pattern>
                <charset>UTF-8</charset>
            </layout>
        </appender>
        <root level="warn">
            <appender-ref ref="PROD_FILE"/>
        </root>
    </springProfile>
</configuration>
